.box {
    background-color: white;
    border-radius: 10px;
}
.hero-section {
    display: grid;
    gap: 1em;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
        "box1 box1 box2"
        "box3 box3 box4"
        "box5 box6 box6"
    ;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}