.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6c2f2f;
    width: 100%;
    height: 150px;
}

img.logo {
    height: 6em;
}

.logo-container {
   margin-left: 20px;
}

.nav-buttons {
    margin-right: 20px;
}

.NavButton {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.NavButton a {
    color: white;
    text-decoration: none;
}